html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  background-color: #EEEEEE;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.page-content-wrapper {
  min-height: calc(100vh - 20px);

}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.3em;
}

footer {
  color: #FFF;
  background-color: #5995DA;
  border: 2px solid #5D6063;
  left: 0;
  bottom: 0;
}

.content {
  padding: 5px 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  border-collapse: separate;
}

.content {
  padding: 2rem;
  margin: 1rem;
  border: 1px solid #5D6063;
  text-align: center;
}

.table-peps {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: bold;
}

td, th {
  font-weight: unset;
  padding-right: 10px;
}

th {
    font-family: Roboto-Bold;
    font-size: 1.0em;
    color: #333;
    line-height: 1.4;
    text-transform: uppercase;
}

td {
    color: #666;
    padding-top: 16px;
    padding-bottom: 10px;
    border-bottom: 2px solid #5D6063;
    border-radius: 1px;
}

.filters {
  text-align: left;
}

.filter-label {
  /* font-size: 1.2em; */
  display: block;
}

.filter-input {
  margin: 0.4em;
  font-size: 1.0em;
}
