body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;

  background-color: #EEEEEE;
  margin: 3em 2em;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

.content {
  padding: 2rem;
  margin: 1rem;
  border: 1px solid #5D6063;
  text-align: center;
}

.filters {
  text-align: left;
}

.filter-label {
  font-size: 1.2em;
  display: block;
}

.filter-input {
  margin: 0.4em;
  font-size: 1.0em;
}
